B8CE5E11-94C0-490A-BB10-08431F2D0E36.png
Bildschirmfoto 2025-06-11 um 16.25.00.png
Bildschirmfoto 2025-06-11 um 16.30.55.png
Bildschirmfoto 2025-06-11 um 16.33.52.png
Bildschirmfoto 2025-06-11 um 16.37.04.png
Bildschirmfoto 2025-06-11 um 16.38.42.png
Bildschirmfoto 2025-06-11 um 16.40.13.png
FlightNrvsOrbit.png
FlightvsLaunchSite.png
ModelAccuracy.png
OrbitSuccess.png
PayloadvsLaunchSite.png
PayloadvsOrbit.png
svm_confusion.png
YearlySuccessRate.png
